{% load static %}
    <div class="card" style="width:50%;">
  <img class="card-img-top" src="../static/lm/singlebook.png" alt="Card image" style="width:100%;margin-bottom:2">
  <div class="card-body">
    <h3 class="card-title" style="margin-top:0;">{{book.identity}}</h3>
    {% if book.active %}
      <h4 style="color:green" >Active</h4>
      {% else %}
      <h4 style="color:red" >DeActivated</h4>
      {% endif %}

            <div class="row">


  <div class="col" data-toggle="modal" data-target="#edit">
    <img class="btn btn-primary" src="{% static 'svg/tools.svg' %}">
  </div>


  <div class="modal" id="edit">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit {{ book.identity }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="card-body">
            <form class="form-signin" action="{% url 'lm:updatebook' %}" method="post" >
              {% csrf_token %}

              <div class="form-label-group">
                <input name="identity" value="{{ book.identity }}" type="hidden" contenteditable="false" ></input>
              </div>

              <div class="form-label-group">
                <input type="number" id="inputbarcode" value={{book.barcode}} name="barcode" class="form-control" placeholder="Barcode" >
                <label for="inputbarcode">Barcode</label>
              </div>

              <div class="form-label-group">
                <input type="number" min="10000" max="999999" value={{book.classification_number}} name="classification_number" id="inputclassification_number" class="form-control" placeholder="Classification" >
                <label for="inputclassification_number">Classification</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" {% if book.active%}checked="checked"{%endif%} id="customCheck1">
                <label class="custom-control-label" name="isactive" for="customCheck1">Active</label>

                <!-- body over here -->

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Update</button>
            </form>
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


            {% if book.active  %}


  <div class="col" data-toggle="modal" data-target="#addb">
    <img class="btn btn-primary" src="{% static 'svg/diff-added.svg' %}">
  </div>


  <div class="modal" id="addb">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Issue Book</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form  action="{% url 'lm:issue' %}" method="post" >
              {% csrf_token %}

              <input type="hidden"  name="bookpk" value="{{ book.pk }}" ></input>
              <input class="form-control mr-sm-2" type="number" required="required" autofocus="autofocus" maxlength="7" name="userroll" placeholder="Roll number" >

          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>



      {% endif %}

                <div class="col" >
    {% if book.active %} <img src="{% static 'svg/check.svg' %}">
      {% else %}  <img src="{% static 'svg/circle-slash.svg' %}">
      {% endif %}
  </div>

</div>






  <!-- The Modal -->


  </div>

    </div>