
{% extends 'lm/base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="row">

<df class="col">

    {% include 'lm/bookCard.html' %}


</df>


    <div class="col">



<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Roll</th>
        <th>Issue Date</th>
        <th>return</th>
      </tr>
    </thead>
     <tbody id="myTable" >


     {% for issue in book.issue_set.all %}
{% if not issue.is_returned %}
      <tr>
          <td>{{issue.user.name }}</td>
          <td><a href="{% url 'lm:user' issue.user.pk %}" >{{issue.user.roll }}</a></td>
          <td>{{issue.issue_time }}</td>
        <td>{{ issue.is_returned }}</td>
        <td><a href="{% url 'lm:return' issue.pk %}" class="btn btn-primary">Return</a></td>
      </tr>
     {% endif %}
{% endfor %}



     </tbody>
</table>


    </div>


</div>

{% endblock %}
