
{% extends 'lm/base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="row">


<div class="card"  style="width:50%;">
  <a class="col" href="{% url 'lm:createuser' %}" ><img class="card-img-top" src="{% static 'lm/adduser.jpeg' %}" alt="Card image" style="width:100%;margin-bottom:2"></a>
</div>

<div class="card"  style="width:50%;">
  <a class="col" href="{% url 'lm:createbook' %}" ><img class="card-img-top" src="{% static 'lm/addbook.jpeg' %}" alt="Card image" style="width:100%;margin-bottom:2"></a>
</div>


</div>
{% endblock %}