{% extends 'lm/base.html' %}

{% block title %}index page title{% endblock %}


{% block body %}
<h3>{{ name }} {{  roll }}</h3>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Book ID</th>
        <th>Issue Date</th>
        <th>Return Time</th>
        <th>Late By</th>
      </tr>
    </thead>
     <tbody id="myTable" >
{% for iss in issuesday %}

      <tr>
          <td><a href="{% url 'lm:book' iss.issue.book.pk %}" >{{iss.issue.book.barcode }}</a></td>
        <td>{{iss.issue.issue_time }}</td>
        <td>{{iss.issue.return_time }}</td>
        <td>{{iss.dayLeft }}</td>
      </tr>
{% endfor %}

     </tbody>
  </table>

{% endblock %}